@import 'style/index';

.container {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  main {
    .transition(min-height);
    padding:20px;

    &.mainLoading {
      min-height: 150px;
    }
  }
}

@media (max-width: @tablet-break) {
  .container {
      main {
        min-height: 250px;
        padding-top: 0;
      }
  }
}