@import '~style/index';

.container {
  display: grid;
  grid-template-columns: 50px auto;
  height: 100%;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  main {
    padding:20px;
  }

  footer {
    padding:20px ;
    color: @white;
    background: @black;
    a {
      color: @footer-link-color;
    }
  }
}

@media (max-width: @tablet-break) {
  .container {
      grid-template-columns: auto;

      main {
        padding-top: 0;
      }

      footer {
        margin-bottom: 90px;
      }
  }
}