.grid {
  display: grid;
  grid-gap: 5px;
  row-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(80px, auto));
  width: 100%;
  grid-template-rows: repeat(auto-fill, minmax(80px, auto));

  // display: grid;
  // grid-gap: 0px;
  // row-gap: 0px;
  // grid-template-columns: repeat(auto-fill, minmax(40px, auto));
  // width: 100%;
}
