@import '~style/helpers';

.container {
    .content {
        .searchResultsContainer {
            &.searchResultsList {
                justify-content: center;
            }
        }
        .inputContainer {
          margin: 25px;
          input {
            .app-gen-input();
          }
        }

        .itemsPlaceHolder {
            align-items:        center;
            bottom:             0;
            display:            flex;
            font-size:          @font-big-s;
            justify-content:    center;
            left:               0;
            position:           absolute;
            right:              0;
            top:                0;
            text-align:         center;
            width:              100%;

            &.mapVisible {
                width: 50%;
            }
        }

        .resultsContainer {
            display: flex;
            height: 100%;
        }

        .fps {
          display: inline;
          backdrop-filter: blur(5px);
          border: 1px solid @white;
          border-radius: @btn-border-radius;
          margin: 0;
          padding: 0 5px;
          position: sticky;
          top: 20px;
          z-index: 1000;
        }

        @media (max-width: 767px) {
            .searchResultsContainer {
                &.mapVisible {
                    width: 0%;
                }
             }

            .mapResultsContainer {
                width: 100%;
                .mapResultsContent {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: @tablet-break) {
  .container {
    .inputContainer {
      input {
        margin: 10px 0 0;
      }
    }
  }
}