@import '~style/helpers';

.container {
    @local_square-size: calc(70px / (1 + 0.05*var(--local-square-factor)));

    height: @local_square-size;
    width : @local_square-size;
    .content {
        height: 100%;

        button {
          .square-button();
          touch-action: manipulation;
      }
    }
}

body:global(.night) {
  .container {
    .content {
      button {
        background:       rgb(93, 123, 146);
        &.hovered {
          background:       #316777;
          box-shadow: 10px 10px 1px #131313c7;
        }
      }
    }
  }
}